body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body img {
    max-width: 100vw;
    max-height: 100vh;
    width: 300px;
}